<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto" rel="stylesheet">
</head>
<body>
  <nav>
    <ul class="nav-list">
      <li><a href="/pizza-orders"> All Pizza Orders</a></li>
      <li><a href="/pizza-orders/new"> New Order</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
